.container {
    width: 1200px;
    margin: 0 auto;    
    box-sizing: border-box;
}

h1 {
    width: 956px;
    font-family: Manrope;
font-size: 60px;
font-style: normal;
font-weight: 400;
line-height: 60px; /* 100% */
letter-spacing: -1.8px;
margin-bottom: 30px;
}


.text1 {
    width: 1150px;
    height: 500px;
    background-image:url('../resources/Rectangle\ 1.png') ;
    margin-bottom: 150px;
}

h2 {
    width: 1048px;
    font-family: Manrope;
font-size: 45px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -1.35px;
margin-bottom: 30px;
}

.image1 {
    width: 430px;
    color: #FFF;

    /* Tag */
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    padding: 379px 680px 40px 40px;
}

p {
    font-family: Manrope;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: -0.54px;
text-transform: uppercase;
margin-bottom: 30px;
}

a {
    display: block;
    background-color: red;
    width: 255px;
    height: 67px;
    line-height: 67px;
    text-decoration: none;
    text-align: center;
    color: #FFF;
font-family: Manrope;
font-size: 20px;
font-style: normal;
font-weight: 400;
/* line-height: normal; */
letter-spacing: -0.6px;
}

